<div class="" style="margin-top:100px"></div>
<div class="container">
    <div class="jumbotron">
        <a href="https://docs.google.com/forms/d/16-Dilor_ViT-0AcN0UVtJPNKhp6FPEbIyo60fRNcras/edit" target="_blank">Take Survey</a>
        <br>
        <a href="https://www.reddit.com/r/languagelearning/comments/bcro30/vr_language_learning/" target="_blank">Reddit Thread</a>
    </div>
</div>
