<div class="" style="margin-top:100px">
</div>
<div class="container">
  <h3>During the Startup Weekend we completed following things.</h3>

  <div class="card">
    <div class="card-header">
      Idea Validation
    </div>
    <div class="card-body">
      <h5 class="card-title">Validate the idea with target and general consumers through surveys.</h5>
      <a href="https://docs.google.com/forms/d/16-Dilor_ViT-0AcN0UVtJPNKhp6FPEbIyo60fRNcras/edit#responses" target="_blank">Survey Results</a>
      <p class="card-text"></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Execution and design.
    </div>
    <div class="card-body">
      <h5 class="card-title">Developed a full working protype for the concept.</h5>
      <p class="card-text"></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Busincess Model
    </div>
    <div class="card-body">
      <h5 class="card-title">Develope a full business model and future plans.</h5>
      <a href="https://docs.google.com/spreadsheets/d/18KAfkV3M_A9Cp2bXS_OvazbTslSyaVFclTwXa_qGbPg/edit#gid=0" target="_blank">Spreadsheets</a>
      <p class="card-text"></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

</div>
