<div class="" style="margin-top:100px">
</div>
<div class="container">
  <h3>During the Startup Weekend we completed following things.</h3>

  <div class="card">
    <div class="card-header">
      Idea Validation
    </div>
    <div class="card-body">
      <h5 class="card-title">Validate the idea with target and general consumers through surveys.</h5>
      <p class="card-text"></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Execution and design.
    </div>
    <div class="card-body">
      <h5 class="card-title">Developed a full working protype for the concept.</h5>
      <p class="card-text"></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Busincess Model
    </div>
    <div class="card-body">
      <h5 class="card-title">Develope a full business model and future plans.</h5>
      <p class="card-text"></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

</div>
