<div class="" style="margin-top:100px">
</div>
<div class="container">
  <h3>Demographics</h3>
  <ul>
    <li>There is 300 million duolingo users. (https://techcrunch.com/2018/08/01/duolingo-hires-its-first-chief-marketing-officer-as-active-user-numbers-stagnate/)</li>
    <li>There us 7.83 mullion babbel users. (https://www.reuters.com/article/us-tech-babbel/language-app-babbel-translates-european-success-to-u-s-market-idUSKCN1G40YR)</li>
    <li>65% people are visual learners. (https://www.inc.com/molly-reynolds/how-to-spot-visual-auditory-and-kinesthetic-learni.html)</li>
    <li>So roughly 195 million of 300 millions must be visual learners who are learning the language the worng way.</li>
    <li>Most of the language learning tools are auditory, or reading based.(https://www.fluentu.com/blog/language-learning-tools-2/)</li>
    <li>49 milllion people has access to VR(https://variety.com/2017/digital/news/vr-headset-data-mau-2017-2019-1202440211/)</li>
    <li>2.5 billion people has access to phone (https://www.statista.com/statistics/330695/number-of-smartphone-users-worldwide/)</li>
  </ul>

  <h3>Idea validation</h3>
  <p>We posted or idea and received over 100 upvotes and really postivie response.(https://www.reddit.com/r/languagelearning/comments/bcro30/vr_language_learning/)</p>
</div>
