<div class="" style="margin-top:90px">
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      More Languages
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Continue to include more languages as our company grows and we gain to access to expertise.</p>
    </div>
    <ul>
      After the MVP on Spanish <span class="flag-icon flag-icon-es"></span> we intended to cover following languages.
      <li>French <span class="flag-icon flag-icon-fr"></span> </li>
      <li>Italian <span class="flag-icon flag-icon-it"></span> </li>
      <li>Arabic <span class="flag-icon flag-icon-sa"></span> </li>
      <li>German <span class="flag-icon flag-icon-de"></span> </li>
    </ul>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Class Room VR
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Partner with schools and universities to create a immersive language learning supplement for educators. </p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      More Episodes
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">We will continue to develop more exciting dynamic episodes ranging in skill level. </p>
    </div>
  </div>
</div>
